<!doctype html>
<html>
  <head>
    <title>Add ingredient to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%>: Add ingredient</h1>
    <form method="POST" action="/bookadded">
        <p>ingredient name: <input id="name" type="text" name="name" value="" /></p>
        <p>Price: <input id="price" type="text" name="price" value="" /></p>
        <input type="submit" value="Add Book" />
      </form>
  </body>
</html>

