<!doctype html>
<html>
  <head>
    <title>Add ingredient to <%=shopName%></title>
    <p>
        <a href="/"> HOME PAGE </a>
      </p>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>

  <body>
    <h1><%=shopName%>: Add ingredient</h1>
    <form method="POST" action="/foodadded">
        <p>ingredient name: <input id="name" type="text" name="name" value="" required="required" /></p>
        <p>Typical value per : <input id="Typical_values_per" type="text" name="Typical_values_per" value="" required="required" /></p>
        <p>Unit of the typical value : <input id="Unit_of_the_typical_value" type="text" name="Unit_of_the_typical_value"  required="required" value="unit" /></p>
        <p>Carbs per : <input id="Carbs_per" type="number" name="Carbs_per" required="required" value=""  /></p>
        <p>Unit of the carbs : <input id="Unit_of_the_carbs" type="text" name="Unit_of_the_carbs" value="" required="required"
          /></p>
        <p>Protein per : <input id="Protein_per" type="number" name="Protein_per" required="required" value="" /></p>
        <p>Unit of the protein : <input id="Unit_of_the_protein" type="text" name="Unit_of_the_protein" required="required" value="" /></p>
        <p>Fat per : <input id="Fat_per" type="number" required="required" name="Fat_per" value="" /></p>
        <p>Unit of the fat : <input id="Unit_of_the_fat" type="text" name="Unit_of_the_fat" required="required" value="" /></p>
        <input type="submit" value="Add ingredient" />
      </form>
  </body>
</html>

