<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
      <p>
        <a href="/"> HOME PAGE </a>
      </p>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for ingredients</a></p>
    <p><a href="addfood">Add a new ingredient</a></p>
    <p><a href="list">List food ingredients</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Please login</a></p>
    <p><a href="logout">Logout</a></p>
    <p><a href="updatefood">Update food PAGE</a></p>
    <p><a href="apiGenerator">API Generator</a></p>
  
  </body>
</html>
