<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
      <p>
        <a href="/"> HOME PAGE </a>
      </p>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for ingredients</a></p>
    <p><a href="addfood">Add a new ingredient</a></p>
    <p><a href="list">List food ingredients</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Please login</a></p>
    <p><a href="logout">Logout</a></p>
    <p><a href="updatefood">Update food PAGE</a></p>
    <p><a href="apiGenerator">API Generator</a></p>
    <p> how to use API </p>
    <p> 1. go to the API Generator page </p>
    <p>2. generate a token</p>
    <p>3. use the token to access the API, if the token is 'IsH8ljEIuMEipWwC'</p>
    <p>4. the API is: https://www.doc.gold.ac.uk/usr/666/api?token=IsH8ljEIuMEipWwC
    </p>
    <p>
    5. the API will return a JSON file, which contains all the food ingredients in the database
    </p>
    <p> 6. How to use token update api, and you have to have the correct username 
      url example:https://www.doc.gold.ac.uk/usr/666/api?token=IsH8ljEIuMEipWwC&updatefood=Banana&foodelement=Carbs_per&elementvalue=11
    </p>
    <p> 7. How to use token delete api, and you have to have the correct username 
      url example:https://www.doc.gold.ac.uk/usr/666/api?token=IsH8ljEIuMEipWwC&deletefood=apple
    </p>
  </body>
</html>
