<!DOCTYPE html>
<html lang="en">
<main>
        <center> <h1>Your recipe</h1> </center> <br>
                <p>Based on the values you entered, here is the nutritional information about your meal / recipe.</p>
                <p>Remember that the values are only an estimate and that they may vary depending on the ingredients you use.</p>
                <div class="container">
                <div class="col">
                        <ul class="list-group">
                                <li class="list-group
                                <li class="list-group-item">Carbs: 
                                <%= totalcarbs %> g</li>
                        
                                <li class="list-group-item">Fat:
                                <%= totalfat %> g</li>

                                <li class="list-group-item">Protein:
                                <%= totalprotein %> g</li>
			        </ul>
                        <br>
                </div>
                </div>
</main>

</body>
</html>
