<!DOCTYPE html>
<html lang="en">
  <head>
    <p>
      <a href="/"> HOME PAGE </a>
    </p>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form id="form" method="POST" action="/registered">
      <p>
        First Name :
        <input id="firstName" type="text" name="firstName" value="" />
      </p>

      <p>
        Last Name : <input id="lastName" type="text" name="lastName" value="" />
      </p>

      <p>
        User Name :
        <input
          id="userName"
          type="text"
          name="userName"
          value=""
          required="required"
          minlength="5"
          maxlength="20"
          pattern="[a-z]{4,8}"
          title="4 to 8 lowercase letters"
        />
      </p>

      <p>
        password :<input
          id="password"
          type="password"
          name="password"
          value=""
          required="required"
          minlength="8"
          maxlength="20"
        />
      </p>
      <p>Email: <input id="email" type="email" name="email" value="" /></p>

      <script>
        //think about how to locate the probelm
        //know how to check details
        // understand how to check
        console.log("test");
        const email = document.getElementById("email");
        email.addEventListener("submit", (event) => {
          console.log("Add listenr");
          if (email.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
            email.setCustomValidity("ASDF I am expecting an e-mail address!");
            email.reportValidity();
          } else {
            email.setCustomValidity("");
          }
        });
      </script>
      <input type="submit" value="Register" />
    </form>
  </body>
</html>