<!doctype html>
<html>
 <head>
 <title>Update Food Page!</title>
 </head>
 <body>
 <h1> Let's look for your food! </h1>
 <p>Do type below the food you are looking for:</p>
 <form action="update-result" method="GET">
 <input id="search-box" type="text" name="keyword" value="Default">
 <input type="submit" value="Submit" >
 </form>

  <p> -->
      <a href="/"> HOME PAGE </a>
    </p>

 <p><a href="search">Search for ingredients</a></p>
 <p><a href="addbook">Add a new ingredient</a></p>
 <p><a href="list">List food ingredients</a></p>
 <p><a href="register">Register with us</a></p>
 <p><a href="login">Please login</a></p>
 <p><a href="logout">Logout</a></p>
 <p><a href="updatefood">upage food PAGE</a></p>
 <p><a href="api">API</a></p>

 </body>
</html>